# Python excess stuff
**/__pycache__/
*.pyc

# Personal info
config.json
service_client_secret*.json

# Bot daily data files
data/messages.pickle
data/ot.pickle
data/pickems.pickle

# Extraneous stuff
StandingsOverride.py

# Bot log files
Logs/*
